// $themeBlue: (
//     --backgroundApp: linear-gradient(45deg, #2f2230 0%, #413d4c 35%, #595270 100%),
//     --backgroundHeader: #474255,
//     --borderBottomHeader: #34393e,
//     --backgroundDraver: #454154ba,
//     --white: #eaebdf,
//     --generalColor: #eddf73,
//     --generalColorOpacity: #eddf7317,
//     --silverColor: #b8c2ce,
//     --cornerColor: #4a445b #423d50 #312634 #322635,
//     --cornerColorBottom:#312634 #2c0b36,
//     --iconWrapperBorder: linear-gradient(45deg, #312433 0%, #3f354c 90%, #423d50 100%),
//     --iconWrapper: linear-gradient(45deg, #312433 0%, #3f354c 90%, #423d50 100%),
//     --iconActive: linear-gradient(208deg, #312433 0%, #3f354c 42%, #423d50 100%),
//     --editActiveBackground: #eddf7326,
//     --editBackground: #2f2331bd,
//     --editBorder: #eddf7363,
//     --editIconColor: #eddf73a1,
//     --editIconBorder: #151819,
//     --itemBlockBorder: linear-gradient(45deg, #2a0633 0%, #423d50 59%, #423d50 110%),
//     --itemBlockBackground: linear-gradient(45deg, #2f2230 0%, #433e51 60%, #504963 100%),
//     --gradientAddBorder: linear-gradient(197deg, #2c0936 0%, #423d4f 90%, #4e4760 100%),
//     --gradientAddBackground: linear-gradient(358deg, #312433 0%, #3e374a 45%, #423d50 100%),
//     --gradientAddActive: linear-gradient(180deg, #eddf73 0%, #ece7bd 90%, #e8e7d9 100%),
//     --gradientAddDefault: linear-gradient(231deg, #312433 17%, #3f354c 74%, #4e4760 100%),
//     --colorTextOff: #515151,
// );
$themeBlue: (
    --backgroundApp: linear-gradient(45deg, #164477 0%, #20548e 35%, #1f5da2 100%),
    --backgroundHeader: #164177,
    --borderBottomHeader: #032142,
    --backgroundDraver: #164077db,
    --white: #eaebdf,
    --generalColor: #3399cc,
    --generalColorOpacity: #3399cc24,
    --silverColor: #b8c2ce,
    --cornerColor: #187ec5 #187ec6 #031a31 #031a31,
    --cornerColorBottom: #0a386f #031a31,
    --iconWrapperBorder: linear-gradient(45deg, #04182f 0%, #155da6 90%, #187ec6 100%),
    --iconWrapper: linear-gradient(45deg, #041b34 0%, #0a376d 90%, #0a4b97 100%),
    --iconActive: linear-gradient(208deg, #041b34 0%, #0a376d 42%, #0a4b97 100%),
    --editActiveBackground: #eddf7326,
    --editBackground: #011129d9,
    --editBorder: #3399cc4f,
    --editIconColor: #3399ccb0,
    --editIconBorder: #151819,
    --itemBlockBorder: linear-gradient(45deg, #021427 0%, #13539c 59%, #1b93da 110%),
    --itemBlockBackground: linear-gradient(45deg, #022144 0%, #0b3b75 60%, #0a53a9 100%),
    --gradientAddBorder: linear-gradient(197deg, #031a31 0%, #0f498a 90%, #1981c9 100%),
    --gradientAddBackground: linear-gradient(358deg, #03264d 0%, #0a386e 45%, #0b4488 100%),
    --gradientAddActive: linear-gradient(180deg, #236384 0%, #6abde6 90%, #6bb4d8 100%),
    --gradientAddDefault: linear-gradient(231deg, #03182f 17%, #083569 74%, #0a3f7f 100%),
    --colorTextOff: #515151,
);
$themeColored: (
    --backgroundApp: linear-gradient(45deg, #008a98 0%, #77b1cc 35%, #c4fffc 100%),
    --backgroundHeader: #329cad,
    --borderBottomHeader: #1badce,
    --backgroundDraver: #1494a0bf,
    --white: rgb(255, 255, 255),
    --generalColor: #194040,
    --generalColorOpacity: #1940406b,
    --silverColor: #e4e4e4,
    --cornerColor: #4ee3d6 #4ee3d6 #30a1c3 #2facc9,
    --cornerColorBottom: #30a1c3 #188994,
    --iconWrapperBorder: linear-gradient(45deg, #188994 0%, #5d98d6 90%, #4ee3d7 100%),
    --iconWrapper: linear-gradient(51deg, #158da2 0%, #3ec5d0 45%, #3db8e4 100%),
    --iconActive: linear-gradient(208deg, #2291a2 0%, #43b7c7 42%, #bdf8f8 100%),
    --editActiveBackground: #62f3e570,
    --editBackground: #005c6ba6,
    --editBorder: #03a6b7,
    --editIconColor: #1940409e,
    --editIconBorder: #151819,
    --itemBlockBorder: linear-gradient(45deg, #11888e 0%, #659ade 59%, #45ffd4 110%),
    --itemBlockBackground: linear-gradient(45deg, #2ebbd2 0%, #3197bd 60%, #4ec8cc 100%),
    --gradientAddBorder: linear-gradient(197deg, #188994 0%, #5997d2 90%, #4ee3d7 100%),
    --gradientAddBackground: linear-gradient(358deg, #31a2b1 0%, #3aacbc 45%, #8ddfe5 100%),
    --gradientAddActive: linear-gradient(180deg, #0b7979 0%, #10b1b1 90%, #24c2c3 100%),
    --gradientAddDefault: linear-gradient(231deg, #2fb8d1 17%, #309dc0 74%, #32a3b2 100%),
    --colorTextOff: #87c0d2,
);
$themeDark: (
    --backgroundApp: linear-gradient(45deg, rgba(18, 20, 22, 1) 0%, rgba(49, 49, 51, 1) 35%, rgba(48, 52, 57, 1) 100%),
    --backgroundHeader: #252628,
    --borderBottomHeader: #34393e,
    --backgroundDraver: #303439eb,
    --white: rgb(255, 255, 255),
    --generalColor: #f85e27,
    --generalColorOpacity: #f85e2717,
    --silverColor: #b8c2ce,
    --cornerColor: #3e3f40 #3e3f40 #282a2b #282a2b,
    --cornerColorBottom: #3e3f40 #0f1112,
    --iconWrapperBorder:
        linear-gradient(45deg, rgba(18, 20, 22, 1) 0%, rgba(67, 72, 78, 1) 90%, rgba(67, 72, 78, 1) 100%),
    --iconWrapper: linear-gradient(51deg, #121416 0%, #313133 45%, #303439 100%),
    --iconActive: linear-gradient(208deg, #121416 0%, #313133 42%, #303439 100%),
    --editActiveBackground: #5a3a3466,
    --editBackground: #141618db,
    --editBorder: #543a32,
    --editIconColor: #f85e27b0,
    --editIconBorder: #151819,
    --itemBlockBorder: linear-gradient(45deg, #0d0e0f 0%, #2d3136 59%, #444444 110%),
    --itemBlockBackground:
        linear-gradient(45deg, rgba(18, 20, 22, 1) 0%, rgba(49, 49, 51, 1) 60%, rgba(48, 52, 57, 1) 100%),
    --gradientAddBorder:
        linear-gradient(197deg, rgba(18, 20, 22, 1) 0%, rgba(67, 72, 78, 1) 90%, rgba(67, 72, 78, 1) 100%),
    --gradientAddBackground: linear-gradient(358deg, #121416 0%, #262629 45%, #2a2d32 100%),
    --gradientAddActive: linear-gradient(180deg, #df4325 0%, #f77b4f 90%, #de8b72 100%),
    --gradientAddDefault: linear-gradient(231deg, #121416 17%, #313133 74%, #5e666f 100%),
    --colorTextOff: #515151,
);
$themeLight: (
    --backgroundApp: linear-gradient(45deg, #6e7171 0%, #a6acaf 35%, #f7f7f7 100%),
    --backgroundHeader: #a2a4a5,
    --borderBottomHeader: #757575,
    --backgroundDraver: #9da2a2bf,
    --white: rgb(255, 255, 255),
    --generalColor: #020202,
    --generalColorOpacity: #0202026b,
    --silverColor: #e4e4e4,
    --cornerColor: #e6dcdc #dadada #858788 #d2d2d2,
    --cornerColorBottom: #858788 #737373,
    --iconWrapperBorder: linear-gradient(45deg, #6f7171 0%, #b7b7b7 90%, #d6d8d8 100%),
    --iconWrapper: linear-gradient(51deg, #777777 0%, #a7acad 45%, #d0d6d8 100%),
    --iconActive: linear-gradient(208deg, #5b5c5d 0%, #a9afaf 42%, #c6d0d0 100%),
    --editActiveBackground: #eaeaea70,
    --editBackground: #828282a6,
    --editBorder: #696969,
    --editIconColor: #4646469e,
    --editIconBorder: #151819,
    --itemBlockBorder: linear-gradient(45deg, #6f6f6f 0%, #a4a6a9 59%, #f3f3f3 110%),
    --itemBlockBackground: linear-gradient(45deg, #808486 0%, #acaeaf 60%, #cad2d2 100%),
    --gradientAddBorder: linear-gradient(197deg, #747474 0%, #e2e2e2 90%, #d1d4d4 100%),
    --gradientAddBackground: linear-gradient(358deg, #989898 0%, #b1b1b1 45%, #cecece 100%),
    --gradientAddActive: linear-gradient(180deg, #000000 0%, #5a5a5a 90%, #818484 100%),
    --gradientAddDefault: linear-gradient(231deg, #a9a9a9 17%, #878888 74%, #5d5e5f 100%),
    --colorTextOff: #b1b1b1,
);

$double: (
    --widthBlock: 1.5,
    --widthBlockPX: 192px,
);

$single: (
    --widthBlock: 1,
    --widthBlockPX: 128px,
);
//var(--lineColorActive)
@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}

@mixin media($maxNumber, $heightMedia: true, $widthMedia: true) {
    $resolution: $maxNumber;
    @if $heightMedia {
        @media screen and (max-height: $resolution) {
            @content;
        }
    }
    @if $widthMedia {
        @media screen and (max-width: $resolution) {
            @content;
        }
    }
}
@include media(450, false) {
    * {
        @include spread-map($single);
    }
}
:root.blue {
    @include spread-map($themeBlue);
}
:root.colored {
    @include spread-map($themeColored);
}
:root.dark {
    @include spread-map($themeDark);
}
:root.light {
    @include spread-map($themeLight);
}
//size
:root.double {
    @include spread-map($double);
}
:root.single {
    @include spread-map($single);
}
.blurDialogOpen {
    // filter: blur(8px);
    // transition: filter .5s;
}
