.paperSmartTitle {
    margin: 8px;
    padding: 12x;
    transition: all 0.2s ease 0s;
    width: var(--widthBlockPX);
    height: var(--widthBlockPX);
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    // box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    background: var(--itemBlockBorder);
    border-radius: 16px !important;
}
:global(:root.light) {
    .paperSmartTitle {
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    }
}
.doubleSmartTitle{
    width: calc(var(--widthBlockPX) * 2 + 16px);
}
.wrapperContent {
    color: var(--silverColor);
    margin: 2px;
    border-radius: 16px !important;
    display: flex;
    width: 100%;
    // background: rgb(18,20,22);
    // background: linear-gradient(45deg, rgba(18,20,22,1) 0%, rgba(0,0,0,1) 60%, rgba(48,52,57,1) 100%);
    background: var(--itemBlockBackground);
}
.emptyBlock{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
