.iconStyle{
    width: 25px;
    height: 25px;
    border-radius: 30px;
    z-index: 1;
    color: #bcbdbd;
}
.iconWrapper{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 14px;
    left: 8px;
    pointer-events: none;
}
.textOn{
    color: #f85e27;
}
.textOff{
    color: #515151;
}
.wrapperSwitch{
    position: absolute;
    top: 16px;
    right: 8px;
    transform: rotate(270deg);
}
.temperature{
    display: flex;
    position: absolute;
    right: 7px;
    top: 18px;
    font-size: 17.5px;
}
.tileTextSecond{
    display: flex;
    top: 38px;
    right: 7px;
    position: absolute;
    font-size: 20px;
    align-items: center;
    opacity: 0.6;
}
.iconSecondary{
    width: 12px;
    height: 12px;
}
.textSecondary{
    font-size: 13px;
    margin-left: 4px;
}
.styleCharts{
    height: 50px !important;
}
.wrapperCharts{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}