.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
/*  background-color: #222;*/
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.corner:hover {
  border-width: 0 32px 32px 0 !important;
}
.edit-buttons:hover {
  background: rgba(200, 200, 200, 1) !important;
  color: black !important;
}
.small-visibility-button:hover {
  background: #ff6a5b;
}