.wrapperApp {
    background: var(--backgroundApp);
    height: 100vh !important;
    display: flex;
}
.colorBar {
    color: var(--silverColor) !important;
}
.toolbarBackgroundOpacity {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 4px);
    left: 1px;
    border: 2px solid;
    border-radius: 8px;
}
.wrapperToolBar {
    height: 45px;
    min-height: 45px !important;
    background: var(--backgroundHeader);
    border-bottom: 1px solid var(--borderBottomHeader);
}
.drawerBackground {
    background-color: var(--backgroundDraver) !important;
    color: var(--white);
    display: flex !important;
    height: 100% !important;
    overflow: hidden !important;
}
.drawerStyle {
    color: var(--white);
}
.buttonMenu {
    color: var(--white) !important;
}
.headMenu {
    // background-color: var(--generalColor)1f !important;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border-bottom: 1px solid var(--generalColor);
    border-top: 1px solid var(--generalColor);
    background-color: var(--backgroundDraver) !important;
    z-index: 10001 !important;
}
.buttonStyle {
    color: var(--silverColor) !important;
    transition: all 0.5s;
}
.buttonActive {
    color: var(--generalColor) !important;
}
.contentItem {
    display: flex;
    align-items: center;
    color: var(--silverColor);
    width: 100%;
}
.itemIcon {
    min-width: 40px !important;
    align-items: center;
}
.itemIconColor {
    color: var(--generalColor) !important;
}
.menuSelectedBright {
    color: var(--generalColor) !important;
}
.listItem {
    // background: var(--generalColor);
}
.zIndexList {
    z-index: 10000;
}
.listItemActive {
    background: var(--generalColorOpacity) !important;
}
.toolBar {
    // border-bottom:1px solid var(--generalColor);
    height: 46px;
    min-height: 46px !important;
}
.expendIcon {
    color: var(--silverColor);
}
.iconDrag {
    color: var(--silverColor);
    margin-right: 5px;
}
.wrapperListMenu {
    width: 250px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 46px);
}
.overFlow {
    overflow-y: auto;
}
.iconSettings {
    color: var(--white) !important;
}
.iconSettingsActive {
    color: var(--generalColor) !important;
}
.backgroundLoading{
    background: var(--backgroundApp);
    width: 100%;
    height: 100%;
    *{
        color: var(--generalColor);
    }
}
@media screen and (max-width: 835px) {
    .rootWrapper {
        flex-direction: column;
        height: auto;
        overflow: auto;
    }
}
