$check: (
    --widthBlock: 1,
);
@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}

.noBigClock {
    @include spread-map($check);
}

@function size($sizeItem) {
    @return calc(#{$sizeItem} * var(--widthBlock));
}

.clockWrapper {
    padding: 10px;
    border-radius: 7px;
    width: size(200px);
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.timeWrapper {
    color: var(--silverColor);
    font-size: size(55px);
    font-weight: bold;
    font-family: inherit;
    // margin-bottom: 6px;
    position: relative;
    span {
        font-size: size(13px);
        position: absolute;
        top: -7px;
        right: -15px;
    }
}
.timeWrapperSmall {
    font-size: size(22px);
    span {
        right: -11px;
        top: -8px;
        font-size: size(9px);
    }
}
.wrapperButtons {
    margin-top: 10px;
    display: flex;
}
.noWidth {
    width: auto !important;
}
.color {
    color: var(--generalColor) !important;
}
.defColor {
    color: var(--colorTextOff) !important;
}
.clock {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: size(234px);
}
.clockSmall {
    width: size(96px);
}
.dayOfWeek {
    font-size: size(16px);
    color: var(--generalColor);
    display: flex;
    justify-content: space-between;
}
.dayOfWeekSmall {
    flex-direction: column;
    font-size: size(12px);
    position: absolute;
    bottom: 10px;
}
.emptyDayOfWeek {
    // height: 19px;
}
.clockBigSmall {
    font-size: size(33px);
}
.hour12 {
    width: size(24px);
    height: size(24px);
    font-size: size(13px);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 835px) {
    .rootWrapper {
        flex-direction: column;
        height: auto;
        overflow: auto;
    }
}
