.clockWrapper {
    // background: #c0c0c094;
    // margin: 10px;
    padding: 10px;
    border-radius: 7px;
    width: calc(200px * var(--widthBlock));
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.timeWrapper {
    color: var(--silverColor);
    font-size: calc(55px * var(--widthBlock));
    font-weight: bold;
    font-family: inherit;
    // margin-bottom: 6px;
    position: relative;
    span {
        font-size: calc(13px * var(--widthBlock));
        position: absolute;
        top: -7px;
        right: -15px;
    }
}
.timeWrapperSmall {
    font-size: calc(22px * var(--widthBlock));
    span {
        right: -11px;
        top: -8px;
        font-size: calc(9px * var(--widthBlock));
    }
}
.wrapperButtons {
    margin-top: 10px;
    display: flex;
}
.noWidth {
    width: auto !important;
}
.color {
    color: var(--generalColor) !important;
}
.defColor {
    color: var(--colorTextOff) !important;
}
.clock {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc(234px * var(--widthBlock));
}
.clockSmall {
    width: calc(96px * var(--widthBlock));
}
.dayOfWeek {
    font-size: calc(16px * var(--widthBlock));
    color: var(--generalColor);
    display: flex;
    justify-content: space-between;
}
.dayOfWeekSmall{
    flex-direction: column;
    font-size: calc(12px * var(--widthBlock));
    position: absolute;
    bottom: 10px;
}
.emptyDayOfWeek {
    // height: 19px;
}
.clockBigSmall{
    font-size: calc(33px * var(--widthBlock));
}
.hour12 {
    width: calc(24px * var(--widthBlock));
    height: calc(24px * var(--widthBlock));
    font-size: calc(13px * var(--widthBlock));
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 835px) {
    .rootWrapper {
        flex-direction: column;
        height: auto;
        overflow: auto;
    }
}
