.root {
    * {
        // color: var(--generalColor) !important;
    }
    [class*="Mui-checked"] {
        color: linear-gradient(45deg, #12141600 54%, var(--generalColor) 80%, var(--generalColor) 105%) !important;
    }
    [class*="Mui-checked"] + [class*="MuiSwitch-track"] {
        background-color: var(--generalColor) !important;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gradientAddBackground);
    transition: all 0.4s, opacity 1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background: var(--gradientAddDefault);
    transition: 0.4s;
}
.slider:after {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 12px;
    left: 2px;
    bottom: 2px;
    background: var(--gradientAddDefault);
    transition: all 0.4s, opacity 1s;
    opacity: 0;
}

input:checked + .slider {
    // background: #2196f3;
}

input:checked + .slider:after {
    background: var(--gradientAddActive);
    opacity: 1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    transform: translateX(16px);
}
input:checked + .slider:after {
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.wrapperSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 18px;
    border-radius: 21px;
    background: var(--gradientAddBorder);
}
