.displayFlex {
    display: flex;
    width: 100%;
}
.corner {
    position: absolute;
    top: 2px;
    right: 0px;
    border-width: 0px 21px 18px 0px;
    border-style: solid;
    border-color: var(--cornerColor);
    box-shadow: rgb(0 0 0 / 30%) 9px 4px 5px, rgb(0 0 0 / 20%) 5px 6px 5px;
    border-radius: 0px 0px 0px 10px;
    transition: border-width 0.25s ease-in-out;
    cursor: pointer;
    z-index: 2;
    &:hover {
        border-width: 0 28px 28px 0;
    }
}
.iconWrapper {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: var(--iconWrapperBorder);
    display: flex;
    align-items: center;
    justify-content: center;
}
.styleIcon {
    width: 38px;
    height: 38px;
    border-radius: 30px;
    background: var(--iconWrapper);
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconStyle {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    z-index: 1;
    color: var(--silverColor);
    transition: color 0.5s;
}
.iconWrapperLoading {
    background: linear-gradient(45deg, #12141600 54%, var(--generalColor) 80%, var(--generalColor) 105%);
    animation: moveWrapperIcon 1s linear infinite;
}
.styleIconLoading {
    animation: moveAcross 1s linear infinite;
}
@keyframes moveWrapperIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes moveAcross {
    0% {
        transform: rotate(360deg);
        //   background-position:10% 220%;
    }
    100% {
        transform: rotate(0deg);
        //   background-position:110% 20%;
    }
}
.activeIconStyle {
    color: var(--generalColor);
}
.text {
    color: var(--colorTextOff);
    transition: color 0.5s;
}
.textOn {
    color: var(--generalColor);
}
.styleIconActive {
    background: var(--iconActive);
}
.wrapperEdit {
    display: flex;
    background: var(--editActiveBackground);
    width: calc(100% - 2px);
    border: 1px solid var(--editBorder);
    border-radius: 16px;
    z-index: 222;
    height: calc(100% - 2px);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    &:hover {
        background: var(--editBackground);
    }
}
.wrapperEditNone {
    display: flex;
    background: var(--editBackground);
    width: calc(100% - 2px);
    border: 1px solid var(--editBorder);
    z-index: 222;
    border-radius: 16px;
    height: calc(100% - 2px);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    &:hover {
        background: var(--editBackground);
    }
}
.iconEditStyle {
    width: 40px;
    height: 40px;
    color: var(--editIconColor);
    stroke: var(--editIconBorder);
    stroke-width: 0.5px;
    transition: all 0.5s;
}
.wrapperIcon {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        .iconEditStyle {
            width: 50px;
            height: 50px;
        }
    }
}
.blurEdit {
    filter: blur(1px) grayscale(100%);
    width: 100%;
    height: 100%;
}
.styleCharts {
    height: 50px !important;
}
.wrapperCharts {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
